@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}*/

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

header + main {
  @apply pt-16
}

main {
  a {
    @apply text-violet-900;
    @apply font-semibold;
  
    &:hover{
      @apply underline;
      @apply drop-shadow-sm;
    }
  }
}

h1 {
  @apply text-2xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-lg;
}

button {
  @apply font-semibold;
}